# WARNING: The `defaults` query must be explicitly spelled out or various
# plugins—e.g., `@babel/preset-env`—will not properly process the aggregate
# query.

> 0.5% or last 2 versions or Firefox ESR or not dead and supports indexeddb2 and supports intl-pluralrules and supports promise-finally
