/***********************************************************************************************************************

	css/core.css

	Copyright © 2013–2021 Thomas Michael Edwards <thomasmedwards@gmail.com>. All rights reserved.
	Use of this source code is governed by a BSD 2-clause "Simplified" License, which may be found in the LICENSE file.

***********************************************************************************************************************/

/* Scrollbar styles. */
*::-webkit-scrollbar {
	background-color: var(--scrollbar-track-color);
	width: 8px;
}
*::-webkit-scrollbar-thumb {
	background-color: var(--scrollbar-thumb-color);
	border: 1px solid var(--scrollbar-track-color);
}
* { /* stylelint-disable-line no-descending-specificity */
	scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-track-color);
	scrollbar-width: thin;
}

/* Fullscreen styles. */
*:fullscreen { /* Cause Blink/WebKit to behave like Gecko. */
	height: 100%;
	width: 100%;
}

*:focus {
	outline: thin dotted;
}
*:disabled {
	cursor: not-allowed !important;
}

/* Story data styling. */
tw-storydata { /* stylelint-disable-line selector-type-no-unknown */
	display: none !important;
	z-index: 0;
}

body {
	color: var(--base-color);
	background-color: var(--base-back-color);
	font-family: var(--base-font-stack, sans-serif);
	font-size: var(--base-font-size, 18px);
	line-height: 1;
	overflow: auto;
}
a {
	cursor: pointer;
	color: var(--anchor-color);
	text-decoration: none;
	transition: background-color 200ms, border 200ms, color 200ms, text-decoration 200ms;
}
html[data-outlines] a:focus,
a:hover {
	color: var(--anchor-hover-color);
	text-decoration: underline;
}
a.link-broken {
	color: var(--anchor-broken-color);
}
html[data-outlines] a.link-broken:focus,
a.link-broken:hover {
	color: var(--anchor-broken-hover-color);
}
a[disabled],
span.link-disabled {
	color: var(--anchor-disabled-color);
	cursor: not-allowed !important;
	/*
		NOTE: Do not use `pointer-events` here as it disables
		the display of a cursor in some browsers.

		pointer-events: none;
	*/
	text-decoration: none;
}
a.link-internal {
	-webkit-touch-callout: none;
}
area {
	cursor: pointer;
}
button {
	cursor: pointer;
	color: var(--button-color);
	background-color: var(--button-back-color);
	border: 1px solid var(--button-border-color);
	line-height: normal;
	padding: 0.4em;
	transition: background-color 200ms, border 200ms, color 200ms;
	user-select: none;
	-webkit-touch-callout: none;
}
html[data-outlines] button:focus,
button:hover {
	background-color: var(--button-hover-back-color);
	border-color: var(--button-hover-border-color);
}
button:disabled {
	background-color: var(--button-disabled-back-color);
	border: 1px solid var(--button-disabled-border-color);
}
/* button,
input,
select,
textarea {
	border-radius: 4px;
} */
input,
select,
textarea {
	color: var(--input-color);
	background-color: var(--input-back-color);
	border: 1px solid var(--input-border-color);
	padding: 0.4em;
	transition: background-color 200ms, border 200ms, color 200ms;
}
select {
	padding: 0.34em 0.4em;
}
input[type="text"] {
	min-width: 18em;
}
textarea {
	min-width: 30em;
	resize: vertical;
}
input[type="checkbox"],
input[type="file"],
input[type="radio"],
select {
	cursor: pointer;
}
/* BEGIN: input[type="range"] */
input[type="range"] {
	-webkit-appearance: none;
	min-height: 1.2em;
}
/* input[type="range"]:focus {
	outline: none;
} */
input[type="range"]::-webkit-slider-runnable-track {
	background: var(--input-range-track-back-color);
	border: 1px solid var(--input-range-track-border-color);
	border-radius: 0;
	cursor: pointer;
	height: 10px;
	width: 100%;
}
input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	background: var(--input-range-thumb-back-color);
	border: 1px solid var(--input-range-thumb-border-color);
	border-radius: 0;
	cursor: pointer;
	height: 18px;
	/*
		NOTE: Ideally, `margin-top` should be `0` for Edge (EdgeHTML)—ca. v17—but real
		WebKit/Blink-based browsers need it.  Since there's more of them and Edge
		(EdgeHTML) is co-opting the prefix anyway, we cater to them.  Edge (EdgeHTML)
		will simply have to look ever so slightly off.  This will likely cease to be an
		issue when Edge switches from EdgeHTML to Blink anyway.
	*/
	margin-top: -5px;
	width: 33px;
}
/* input[type="range"]:focus::-webkit-slider-runnable-track {
	background: var(--input-range-track-back-color);
} */
input[type="range"]::-moz-range-track {
	background: var(--input-range-track-back-color);
	border: 1px solid var(--input-range-track-border-color);
	border-radius: 0;
	cursor: pointer;
	height: 10px;
	width: 100%;
}
input[type="range"]::-moz-range-thumb {
	background: var(--input-range-thumb-back-color);
	border: 1px solid var(--input-range-thumb-border-color);
	border-radius: 0;
	cursor: pointer;
	height: 18px;
	width: 33px;
}
/* input[type="range"]::-ms-track {
	background: transparent;
	border-color: transparent;
	color: transparent;
	cursor: pointer;
	height: 10px;
	width: calc(100% - 1px);
}
input[type="range"]::-ms-fill-lower {
	background: var(--input-range-track-back-color);
	border: 1px solid var(--input-range-track-border-color);
	border-radius: 0;
}
input[type="range"]::-ms-fill-upper {
	background: var(--input-range-track-back-color);
	border: 1px solid var(--input-range-track-border-color);
	border-radius: 0;
}
input[type="range"]::-ms-thumb {
	background: var(--input-range-thumb-back-color);
	border: 1px solid var(--input-range-thumb-border-color);
	border-radius: 0;
	cursor: pointer;
	height: 16px;
	width: 33px;
} */
/* END: input[type="range"] */
input:not(:disabled):focus,
select:not(:disabled):focus,
textarea:not(:disabled):focus,
input:not(:disabled):hover,
select:not(:disabled):hover,
textarea:not(:disabled):hover {
	background-color: var(--input-hover-back-color);
	border-color: var(--input-hover-border-color);
}
hr {
	display: block;
	height: 1px;
	border: none;
	border-top: 1px solid var(--base-color);
	margin: 1em 0;
	padding: 0;
}
audio,
canvas,
progress,
video {
	max-width: 100%;
	vertical-align: middle;
}

/* Special no transition styling. */
.no-transition {
	transition: none !important;
}

.error-view {
	background-color: var(--error-back-color);
	border-left: 0.5em solid var(--error-border-color);
	display: inline-block;
	margin: 0.1em;
	max-width: 100%;
	padding: 0 0.25em;
	position: relative;
}
.error-view > .error-toggle {
	background-color: transparent;
	border: none;
	line-height: inherit;
	left: 0;
	padding: 0;
	position: absolute;
	top: 0;
	width: 1.75em;
}
.error-view > .error {
	display: inline-block;
	margin-left: 0.25em;
}
.error-view > .error-toggle + .error {
	margin-left: 1.5em;
}
.error-view > .error-source[hidden] {
	display: none;
}
.error-view > .error-source:not([hidden]) {
	background-color: var(--error-source-back-color);
	display: block;
	margin: 0 0 0.25em;
	overflow-x: auto;
	padding: 0.25em;
}

.nobr {
	white-space: nowrap;
}

.error-view > .error-toggle::before,
.error-view > .error::before,
a.link-external::after {
	@mixin sc-icons-properties;
}
.error-view > .error-toggle::before {
	content: var(--icon-caret-right);
}
.error-view > .error-toggle.enabled::before {
	content: var(--icon-caret-down);
}
.error-view > .error::before {
	content: var(--icon-exclamation-triangle);
	margin-right: 0.4em;
}
a.link-external::after {
	content: var(--icon-external-link-alt);
	margin-left: 0.2em;
}
