/***********************************************************************************************************************

	css/dialog.css

	Copyright © 2013–2021 Thomas Michael Edwards <thomasmedwards@gmail.com>. All rights reserved.
	Use of this source code is governed by a BSD 2-clause "Simplified" License, which may be found in the LICENSE file.

***********************************************************************************************************************/

/*
	Core style patches.
*/
html[data-dialog] body {
	overflow: hidden;
}


/*
	Dialog styles.
*/
#ui-overlay[data-open] {
	opacity: 0.8;
	visibility: visible;
	transition: opacity 200ms ease-in;
}
#ui-overlay:not([data-open]) {
	transition: visibility 200ms step-end, opacity 200ms ease-in;
}
#ui-overlay {
	background-color: var(--dialog-overlay-back-color);
	visibility: hidden;
	opacity: 0;
	z-index: 1000000;
	position: fixed;
	top: -50vh;
	left: -50vw;
	height: 200vh;
	width: 200vw;
}
#ui-dialog[data-open] {
	opacity: 1;
	display: block;
	transition: opacity 200ms ease-in;
}
/*
	We do not animate `#ui-dialog:not([data-open])` for various reasons.  Chief
	among them is so that the dialog isn't in the middle of its animation when
	other page updates happen.

	E.g.,
	- The restoration of `overflow` on `body` would cause the still animating dialog
	  to jump around a little if a scrollbar were to pop in.
	- Any dialog action that performs a task that has its own animations or causes
	  the page to reload, in addition to closing the dialog, could cause display
	  shenanigans.
*/
#ui-dialog {
	background-color: var(--dialog-back-color);
	border: 1px solid var(--dialog-border-color);
	display: none;
	margin: 0;
	max-width: 66em;
	opacity: 0;
	padding: 0;
	position: fixed;
	top: 50px;
	z-index: 1000100;
}
#ui-dialog > * {
	box-sizing: border-box;
}
#ui-dialog-titlebar {
	background-color: var(--dialog-title-back-color);
	min-height: 24px;
	position: relative;
}
#ui-dialog-title {
	font-size: 1.5em;
	margin: 0;
	padding: 0.2em 3.5em 0.2em 0.5em;
	text-align: center;
	text-transform: uppercase;
}
#ui-dialog-close {
	background-color: transparent;
	border: none;
	cursor: pointer;
	display: block;
	font-size: 120%;
	height: 98%;
	margin: 0;
	padding: 0;
	position: absolute;
	right: 0;
	top: 0;
	user-select: none;
	white-space: nowrap;
	width: 3.6em;
}
#ui-dialog-close:hover {
	color: #e44;
}
#ui-dialog-body {
	/* background-color: var(--dialog-body-color); */
	/* border: 1px solid var(--dialog-back-color); */
	height: calc(100% - 2.1em); /* parent - title(2.1em) */
	line-height: 1.5;
	min-width: 280px;
	overflow: auto;
	padding: 1em;
	text-align: left;
}
#ui-dialog-body > *:first-child {
	margin-top: 0;
}
#ui-dialog-body hr {
	background-color: var(--dialog-back-color);
}

/* Dialog button bar styling. */
#ui-dialog-body ul.buttons {
	list-style: none;
	margin: 0;
	padding: 0.4em 0 0;
	white-space: nowrap;
}
#ui-dialog-body ul.buttons > li {
	display: inline-block;
	margin: 0;
	padding: 0;
}
#ui-dialog-body ul.buttons > li:not(:first-child) {
	margin-left: 1em;
}


/*
	Dialog font icon styles.
*/
#ui-dialog-close::before {
	@mixin sc-icons-properties;
}
#ui-dialog-close::before { /* stylelint-disable-line no-duplicate-selectors */
	content: var(--icon-times);
}
