/***********************************************************************************************************************

	css/dialog-saves.css

	Copyright © 2013–2021 Thomas Michael Edwards <thomasmedwards@gmail.com>. All rights reserved.
	Use of this source code is governed by a BSD 2-clause "Simplified" License, which may be found in the LICENSE file.

***********************************************************************************************************************/

/*
	Saves dialog styles.
*/
#ui-dialog.saves > #ui-dialog-body {
	/*
		NOTE: Older versions of Webkit/Blink need `1px` bottom padding or they'll
		trigger the scrollbar for some odd reason.
	*/
	padding: 0 0 1px;
}
#ui-dialog.saves > #ui-dialog-body > *:not(:first-child) {
	border-top: 1px solid var(--dialog-border-color);
}
#ui-dialog.saves > #ui-dialog-body > h2 {
	background-color: var(--dialog-head-color);
	font-size: inherit;
	margin: 0;
	padding: 0.1em 0 0.1em 0.4em;
}
#ui-dialog.saves > #ui-dialog-body #saves-container {
	overflow-y: auto;
}
#ui-dialog.saves > #ui-dialog-body #saves-list {
	border-collapse: collapse;
	border-spacing: 0;
	display: table;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
}
#ui-dialog.saves > #ui-dialog-body #saves-list > li {
	display: table-row;
	margin: 0.33em 0;
}
#ui-dialog.saves > #ui-dialog-body #saves-list > li:not(:first-child) {
	border-top: 1px solid var(--dialog-border-color);
}
#ui-dialog.saves > #ui-dialog-body #saves-list > li > div {
	display: table-cell;
	padding: 0.33em;
}
#ui-dialog.saves > #ui-dialog-body #saves-list > li > div:not(.empty) {
	line-height: 1.2;
	vertical-align: top;
}
#ui-dialog.saves > #ui-dialog-body #saves-list > li > div.empty {
	color: #808080;
	speak: none;
	text-align: center;
	user-select: none;
}
#ui-dialog.saves > #ui-dialog-body #saves-list > li > div .details {
	font-size: var(--detail-font-size);
	margin-left: 1em;
}
#ui-dialog.saves > #ui-dialog-body #saves-list ul.buttons {
	display: table-cell;
	text-align: right;
	padding: 0.33em;
	vertical-align: middle;
}
#ui-dialog.saves > #ui-dialog-body #saves-list button {
	color: #ddd;
	background-color: transparent;
	border: 1px solid var(--dialog-border-color);
	width: 2.25em;
}
#ui-dialog.saves > #ui-dialog-body #saves-list button:disabled {
	color: #707070;
	border-color: #090909;
}
#ui-dialog.saves > #ui-dialog-body #saves-list button:not(:disabled):hover {
	background-color: #222;
	border-color: #ddd;
}
#ui-dialog.saves > #ui-dialog-body #saves-list button.delete:not(:disabled),
#ui-dialog.saves > #ui-dialog-body button[id="saves-clear"]:not(:disabled) {
	background-color: #911;
	border-color: #b33;
}
#ui-dialog.saves > #ui-dialog-body #saves-list button.delete:not(:disabled):hover,
#ui-dialog.saves > #ui-dialog-body button[id="saves-clear"]:not(:disabled):hover {
	background-color: #b33;
	border-color: #d55;
}
#ui-dialog.saves > #ui-dialog-body #saves-list button.load:not(:disabled) {
	background-color: #161;
	border-color: #383;
}
#ui-dialog.saves > #ui-dialog-body #saves-list button.load:not(:disabled):hover {
	background-color: #383;
	border-color: #5a5;
}
#ui-dialog.saves > #ui-dialog-body > ul.buttons {
	padding: 0.33em;
}
#ui-dialog.saves > #ui-dialog-body > ul.buttons.slots > li:last-child {
	/*
		NOTE: Using `position:absolute;right:0;` here can produce poor results,
		so we use `float:right;` instead.
	*/
	float: right;

	/* Patch bottom spacing since we're floating. */
	margin-bottom: 0.33em;
}


/*
	Saves dialog font icon styles.
*/
#ui-dialog.saves > #ui-dialog-body button.delete::before,
#ui-dialog.saves > #ui-dialog-body button.load::before,
#ui-dialog.saves > #ui-dialog-body button.save::before,
#ui-dialog.saves > #ui-dialog-body button[id="saves-clear"]::before,
#ui-dialog.saves > #ui-dialog-body button[id="saves-disk-export"]::before,
#ui-dialog.saves > #ui-dialog-body button[id="saves-disk-import"]::before,
#ui-dialog.saves > #ui-dialog-body button[id="saves-disk-load"]::before,
#ui-dialog.saves > #ui-dialog-body button[id="saves-disk-save"]::before {
	@mixin sc-icons-properties;
}
#ui-dialog.saves > #ui-dialog-body button.delete::before {
	content: var(--icon-trash-alt);
}
#ui-dialog.saves > #ui-dialog-body button.delete:disabled::before {
	content: var(--icon-trash);
}
#ui-dialog.saves > #ui-dialog-body button.load::before {
	content: var(--icon-play);
	padding-left: 0.2em; /* Centering adjustment. */
}
#ui-dialog.saves > #ui-dialog-body button.save::before {
	content: var(--icon-save);
	padding-left: 0.05em; /* Centering adjustment. */
}
#ui-dialog.saves > #ui-dialog-body button[id="saves-clear"]::before {
	content: var(--icon-trash-alt);
	margin-right: 0.4em;
}
#ui-dialog.saves > #ui-dialog-body button[id="saves-clear"]:disabled::before {
	content: var(--icon-trash);
	margin-right: 0.4em;
}
#ui-dialog.saves > #ui-dialog-body button[id="saves-disk-export"]::before {
	content: var(--icon-file-export);
	margin-right: 0.4em;
}
#ui-dialog.saves > #ui-dialog-body button[id="saves-disk-import"]::before {
	content: var(--icon-file-import);
	margin-right: 0.4em;
}
#ui-dialog.saves > #ui-dialog-body button[id="saves-disk-save"]::before {
	content: var(--icon-file-download);
	margin-right: 0.4em;
}
#ui-dialog.saves > #ui-dialog-body button[id="saves-disk-load"]::before {
	content: var(--icon-file-upload);
	margin-right: 0.4em;
}
