/***********************************************************************************************************************

	css/global.css

	Copyright © 2013–2021 Thomas Michael Edwards <thomasmedwards@gmail.com>. All rights reserved.
	Use of this source code is governed by a BSD 2-clause "Simplified" License, which may be found in the LICENSE file.

***********************************************************************************************************************/

:root {
	/*
		Fonts.

		The primary font size for text should be around 18px–19px.  Smaller text
		should be some multiple of 2px smaller, not to exceed a minimum of 14px.
		The font size for input element text should not exceed a minimum of 2px
		smaller than the primary font size.
	*/
	--base-font-stack: /*system-ui,*/ -apple-system, BlinkMacSystemFont, "Segoe UI", /*Roboto,*/ "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", /* for Windows 7/8 users */ "Segoe UI Symbol"; /* stylelint-disable-line value-keyword-case */
	--code-font-stack: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, monospace; /* stylelint-disable-line value-keyword-case */
	--base-font-size: 1.125rem; /* 18px */
	/* --xxx-font-size: calc(var(--base-font-size) - 2px); */
	--detail-font-size: calc(var(--base-font-size) - 4px);


	/*
		Colors.
	*/
	/* Base. */
	--base-color: #ddd;          /* was: #eee */
	--base-back-color: #000;     /* was: #111 */
	--base-alt-back-color: #111; /* was: #222 */
	--base-border-color: #333;   /* was: #444 */

	/* Scrollbars. */
	--scrollbar-track-color: var(--base-alt-back-color);
	--scrollbar-thumb-color: var(--base-border-color);

	/* Anchors. */
	--anchor-color: #57c;
	--anchor-hover-color: #79e;
	--anchor-broken-color: #b11;
	--anchor-broken-hover-color: #d33;
	--anchor-disabled-color: #999;

	/* Buttons. */
	/* --button-color: var(--base-color);
	--button-back-color: #249;
	--button-border-color: #46b;
	--button-hover-back-color: #46b;
	--button-hover-border-color: #68d;
	--button-disabled-back-color: var(--base-border-color);
	--button-disabled-border-color: #555; */
	--button-color: var(--base-color);
	--button-back-color: transparent;
	--button-border-color: var(--base-border-color);
	/* --button-hover-color: var(--base-color); */
	--button-hover-back-color: #222;
	--button-hover-border-color: var(--base-color);
	--button-disabled-color: var(--base-border-color);
	/* --button-disabled-back-color: transparent; */
	--button-disabled-border-color: var(--base-alt-back-color);

	/* Input Elements (Inputs, Selects, & Textareas). */
	--input-color: var(--base-color);
	--input-back-color: transparent;
	--input-border-color: var(--base-border-color);
	/* --input-hover-color: var(--base-color); */
	--input-hover-back-color: #222;
	--input-hover-border-color: var(--base-color);
	--input-disabled-color: var(--base-border-color);
	/* --input-disabled-back-color: transparent; */
	--input-disabled-border-color: var(--base-alt-back-color);
	/* TODO: Add disabled properties and styles. */
	--input-range-track-back-color: var(--base-alt-back-color);
	--input-range-track-border-color: var(--base-border-color);
	--input-range-thumb-back-color: #249;
	--input-range-thumb-border-color: #46b;

	/* Errors. */
	--error-back-color: #400;
	--error-source-back-color: rgba(0, 0, 0, 0.3);
	--error-border-color: #a00;

	/* Macros. */

	/* Dialog. */
	--dialog-overlay-back-color: var(--base-back-color);
	/* --dialog-color: var(--base-color); */
	--dialog-back-color: var(--base-back-color);
	--dialog-title-back-color: var(--base-border-color);
	--dialog-border-color: var(--base-border-color);
	/* --dialog-body-color: var(--base-back-color); */
	--dialog-head-color: var(--base-alt-back-color);

	/* Dialog: Saves. */
	/* TODO: */

	/* Dialog: Setting. */
	/* TODO: */

	/* Sidebar. */
	--sidebar-color: var(--base-color);
	--sidebar-back-color: var(--base-alt-back-color);
	--sidebar-border-color: var(--base-border-color);

	/* Debug bar. */
	--debug-color: var(--base-color);
	--debug-back-color: var(--base-alt-back-color);
	--debug-border-color: var(--base-border-color);
	--debug-body-color: var(--base-back-color);
	--debug-head-color: var(--base-alt-back-color);


	/*
		Icons (see: "css/sc-icons.css").
	*/
	--icon-search: "\f002";
	--icon-heart: "\f004";
	--icon-star: "\f005";
	--icon-check: "\f00c";
	--icon-times: "\f00d";
	--icon-search-plus: "\f00e";
	--icon-search-minus: "\f010";
	--icon-power-off: "\f011";
	--icon-cog: "\f013";
	--icon-home: "\f015";
	--icon-download: "\f019";
	--icon-lock: "\f023";
	--icon-volume-off: "\f026";
	--icon-volume-down: "\f027";
	--icon-volume-up: "\f028";
	--icon-bookmark: "\f02e";
	--icon-step-backward: "\f048";
	--icon-fast-backward: "\f049";
	--icon-backward: "\f04a";
	--icon-play: "\f04b";
	--icon-pause: "\f04c";
	--icon-stop: "\f04d";
	--icon-forward: "\f04e";
	--icon-fast-forward: "\f050";
	--icon-step-forward: "\f051";
	--icon-eject: "\f052";
	--icon-chevron-left: "\f053";
	--icon-chevron-right: "\f054";
	--icon-plus-circle: "\f055";
	--icon-minus-circle: "\f056";
	--icon-times-circle: "\f057";
	--icon-check-circle: "\f058";
	--icon-question-circle: "\f059";
	--icon-info-circle: "\f05a";
	--icon-ban: "\f05e";
	--icon-arrow-left: "\f060";
	--icon-arrow-right: "\f061";
	--icon-arrow-up: "\f062";
	--icon-arrow-down: "\f063";
	--icon-expand: "\f065";
	--icon-compress: "\f066";
	--icon-plus: "\f067";
	--icon-minus: "\f068";
	--icon-exclamation-circle: "\f06a";
	--icon-eye: "\f06e";
	--icon-eye-slash: "\f070";
	--icon-exclamation-triangle: "\f071";
	--icon-chevron-up: "\f077";
	--icon-chevron-down: "\f078";
	--icon-star-half: "\f089";
	--icon-thumbtack: "\f08d";
	--icon-upload: "\f093";
	--icon-unlock: "\f09c";
	--icon-hdd: "\f0a0";
	--icon-link: "\f0c1";
	--icon-cloud: "\f0c2";
	--icon-save: "\f0c7";
	--icon-bars: "\f0c9";
	--icon-magic: "\f0d0";
	--icon-caret-down: "\f0d7";
	--icon-caret-up: "\f0d8";
	--icon-caret-left: "\f0d9";
	--icon-caret-right: "\f0da";
	--icon-bolt: "\f0e7";
	--icon-lightbulb: "\f0eb";
	--icon-plus-square: "\f0fe";
	--icon-quote-left: "\f10d";
	--icon-quote-right: "\f10e";
	--icon-spinner: "\f110";
	--icon-unlink: "\f127";
	--icon-chevron-circle-left: "\f137";
	--icon-chevron-circle-right: "\f138";
	--icon-chevron-circle-up: "\f139";
	--icon-chevron-circle-down: "\f13a";
	--icon-unlock-alt: "\f13e";
	--icon-ellipsis-h: "\f141";
	--icon-ellipsis-v: "\f142";
	--icon-play-circle: "\f144";
	--icon-minus-square: "\f146";
	--icon-check-square: "\f14a";
	--icon-caret-square-down: "\f150";
	--icon-caret-square-up: "\f151";
	--icon-caret-square-right: "\f152";
	--icon-sun: "\f185";
	--icon-moon: "\f186";
	--icon-bug: "\f188";
	--icon-caret-square-left: "\f191";
	--icon-language: "\f1ab";
	--icon-paragraph: "\f1dd";
	--icon-share-alt: "\f1e0";
	--icon-trash: "\f1f8";
	--icon-toggle-off: "\f204";
	--icon-toggle-on: "\f205";
	--icon-battery-full: "\f240";
	--icon-battery-three-quarters: "\f241";
	--icon-battery-half: "\f242";
	--icon-battery-quarter: "\f243";
	--icon-battery-empty: "\f244";
	--icon-pause-circle: "\f28b";
	--icon-stop-circle: "\f28d";
	--icon-undo-alt: "\f2ea";
	--icon-trash-alt: "\f2ed";
	--icon-sync-alt: "\f2f1";
	--icon-redo-alt: "\f2f9";
	--icon-expand-arrows-alt: "\f31e";
	--icon-external-link-alt: "\f35d";
	--icon-cloud-download-alt: "\f381";
	--icon-cloud-upload-alt: "\f382";
	--icon-window-close: "\f410";
	--icon-backspace: "\f55a";
	--icon-file-download: "\f56d";
	--icon-file-export: "\f56e";
	--icon-file-import: "\f56f";
	--icon-file-upload: "\f574";
	--icon-star-half-alt: "\f5c0";
	--icon-volume-mute: "\f6a9";
	--icon-compress-arrows-alt: "\f78c";
	--icon-tools: "\f7d9";
	--icon-trash-restore: "\f829";
	--icon-trash-restore-alt: "\f82a";
}
