/***********************************************************************************************************************

	css/init-screen.css

	Copyright © 2013–2021 Thomas Michael Edwards <thomasmedwards@gmail.com>. All rights reserved.
	Use of this source code is governed by a BSD 2-clause "Simplified" License, which may be found in the LICENSE file.

***********************************************************************************************************************/

#init-screen {
	display: none;
	z-index: 5000000;
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	font-family: var(--font-stack);
	font-size: 32px;
	font-weight: 700;
	line-height: 1;
	color: #ddd;
	background-color: #000;
	text-align: center;
}
#init-screen > div {
	display: none;
	position: relative;
	margin: 0 auto;
	top: 40vh;
}
#init-screen > div > p:first-child {
	margin-top: 0;
}
html[data-init="no-js"] #init-screen, html[data-init="no-cap"] #init-screen, html[data-init="loading"] #init-screen {
	display: block;
}
html[data-init="no-js"] #init-no-js, html[data-init="no-cap"] #init-no-cap {
	display: block;
	padding: 0 1em;
}
html[data-init="no-js"] #init-no-js > *:first-child::before, html[data-init="no-cap"] #init-no-cap > *:first-child::before {
	content: "\1f6d1\00a0";
}
html[data-init="no-cap"] #init-no-cap {
	top: 33vh;
}
html[data-init="loading"] #init-loading {
	display: block;
	text-align: center;
}
html[data-init="loading"] #init-loading > div {
	--base-dot-size: 4vw;

	animation: 1.5s ease-in-out infinite busy-dots;
	background-color: #ddd;
	border-radius: 50%;
	display: inline-block;
	height: var(--loading-dot-size, var(--base-dot-size));
	margin: 0 calc(var(--loading-dot-size, var(--base-dot-size)) / 4);
	width: var(--loading-dot-size, var(--base-dot-size));
}
@media screen and (max-width: 1136px) {
	html[data-init="loading"] #init-loading > div {
		--base-dot-size: 6vw;
	}
}
@media screen and (max-width: 768px) {
	html[data-init="loading"] #init-loading > div {
		--base-dot-size: 8vw;
	}
}
html[data-init="loading"] #init-loading > div:nth-child(1) {
	animation-delay: 0s;
}
html[data-init="loading"] #init-loading > div:nth-child(2) {
	animation-delay: 0.4s;
}
html[data-init="loading"] #init-loading > div:nth-child(3) {
	animation-delay: 0.8s;
}
html[data-init="loading"] #ui-bar, html[data-init="loading"] #story {
	display: none;
}
