/***********************************************************************************************************************

	css/init-screen.css

	Copyright © 2013–2021 Thomas Michael Edwards <thomasmedwards@gmail.com>. All rights reserved.
	Use of this source code is governed by a BSD 2-clause "Simplified" License, which may be found in the LICENSE file.

***********************************************************************************************************************/

#init-screen {
	display: none;
	z-index: 5000000;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	font-family: var(--font-stack);
	font-size: 32px;
	font-weight: 700;
	line-height: 1;
	color: #ddd;
	background-color: #000;
	text-align: center;
}
#init-screen > div {
	display: none;
	position: relative;
	margin: 0 auto;
	top: 40vh;
}
#init-screen > div > p:first-child {
	margin-top: 0;
}
html[data-init="no-js"] #init-screen,
html[data-init="no-cap"] #init-screen,
html[data-init="loading"] #init-screen {
	display: block;
}
html[data-init="no-js"] #init-no-js,
html[data-init="no-cap"] #init-no-cap {
	display: block;
	padding: 0 1em;
}
html[data-init="no-js"] #init-no-js > *:first-child::before,
html[data-init="no-cap"] #init-no-cap > *:first-child::before {
	color: #c00;
	content: "\f071";
	font-family: "sc-icons" !important; /* stylelint-disable-line font-family-no-missing-generic-family-keyword */
	font-style: normal;
	/* font-weight: normal; */
	font-weight: 900;
	font-variant: normal;
	line-height: 1;
	margin-right: 0.4em;
	speak: never;
	text-rendering: auto;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
html[data-init="no-cap"] #init-no-cap {
	top: 33vh;
}
html[data-init="loading"] #init-loading {
	display: block;
	pointer-events: none;
	top: calc(50% - 60px);
}
html[data-init="loading"] #init-loading svg {
	max-height: 120px;
	max-width: 80vw;
}
html[data-init="loading"] #init-loading svg circle {
	animation: busy-dots 1.2s ease-in-out infinite;
	opacity: 0.2;
}
html[data-init="loading"] #init-loading svg circle:nth-of-type(2) {
	animation-delay: 0.2s;
}
html[data-init="loading"] #init-loading svg circle:nth-of-type(3) {
	animation-delay: 0.4s;
}
html[data-init="loading"] #ui-bar,
html[data-init="loading"] #story {
	display: none;
}
