/***********************************************************************************************************************

	css/sidebar.css

	Copyright © 2013–2021 Thomas Michael Edwards <thomasmedwards@gmail.com>. All rights reserved.
	Use of this source code is governed by a BSD 2-clause "Simplified" License, which may be found in the LICENSE file.

***********************************************************************************************************************/

/*
	Core style patches.
*/
#story {
	margin-left: 20em;
	transition: margin-left 200ms ease-in;
}
#ui-bar.stowed ~ #story {
	margin-left: 4.5em;
}
@media screen and (max-width: 1136px) {
	#story {
		margin-left: 19em;
	}
	#ui-bar.stowed ~ #story {
		margin-left: 3.5em;
	}
}
/*
	At very narrow viewport widths, set `#story{margin-left}` equal to the value
	of `#ui-bar.stowed~#story{margin-left}`, so that `#ui-bar` will side over top
	of `#story` when unstowed, rather than shoving it over.
*/
@media screen and (max-width: 768px) {
	#story {
		margin-left: 3.5em;
	}
}


/*
	Sidebar styles.
*/
#ui-bar {
	background-color: var(--sidebar-back-color);
	border-right: 1px solid var(--sidebar-border-color);
	height: 100%;
	left: 0;
	margin: 0;
	padding: 0;
	position: fixed;
	text-align: center;
	top: 0;
	transition: left 200ms ease-in;
	width: 17.5em;
	z-index: 50;
}
#ui-bar.stowed {
	left: -15.5em;
}
#ui-bar-tray {
	left: 0;
	position: absolute;
	right: 0;
	top: 0.2em;
}
#ui-bar-body {
	height: calc(100% - 2.5em);
	line-height: 1.5;
	margin: 2.5em 0;
	overflow: auto;
	padding: 0 1.5em;
}
#ui-bar.stowed #ui-bar-body {
	transition: visibility 200ms step-end;
	visibility: hidden;
}
#ui-bar-toggle {
	background-color: transparent;
	border-right: none;
	border: 1px solid var(--sidebar-border-color);
	color: var(--sidebar-color);
	display: block;
	font-size: 1.2em;
	line-height: inherit;
	padding: 0.3em 0.45em 0.25em;
	position: absolute;
	right: 0;
	top: 0;
	user-select: none;
}
#ui-bar-toggle:hover {
	background-color: var(--sidebar-border-color);
	border-color: var(--sidebar-color);
}
#ui-bar.stowed #ui-bar-toggle {
	padding: 0.3em 0.35em 0.25em 0.55em;
}
#ui-bar a {
	text-decoration: none;
}
#ui-bar hr {
	border-color: var(--sidebar-border-color);
}
#ui-bar-body > :not(:first-child) {
	margin-top: 2em;
}
#story-title {
	font-size: 162.5%;
	margin: 0;
}
#story-author {
	font-weight: bold;
	margin-top: 2em;
}
#menu ul {
	border: 1px solid var(--sidebar-border-color);
	list-style: none;
	margin: 1em 0 0;
	padding: 0;
}
#menu ul:empty {
	display: none;
}
#menu li {
	margin: 0;
}
#menu li:not(:first-child) {
	border-top: 1px solid var(--sidebar-border-color);
}
#menu li a {
	border: 1px solid transparent;
	color: var(--sidebar-color);
	display: block;
	padding: 0.25em 0.75em;
	text-transform: uppercase;
	user-select: none;
	-webkit-touch-callout: none;
}
#menu li a:hover {
	background-color: var(--sidebar-border-color);
	border-color: var(--sidebar-color);
}


/*
	Sidebar font icon styles.
*/
#ui-bar-toggle::before,
#menu-core li[id|="menu-item"] a::before {
	@mixin sc-icons-properties;
}
#ui-bar-toggle::before {
	content: var(--icon-chevron-left);
}
#ui-bar.stowed #ui-bar-toggle::before {
	content: var(--icon-chevron-right);
}
#menu-item-saves a::before {
	content: var(--icon-save);
	margin-right: 0.4em;
}
#menu-item-settings a::before {
	content: var(--icon-cog);
	margin-right: 0.4em;
}
#menu-item-restart a::before {
	content: var(--icon-power-off);
	margin-right: 0.4em;
}
