/***********************************************************************************************************************

	css/ui-debug.css

	Copyright © 2013–2021 Thomas Michael Edwards <thomasmedwards@gmail.com>. All rights reserved.
	Use of this source code is governed by a BSD 2-clause "Simplified" License, which may be found in the LICENSE file.

***********************************************************************************************************************/

/*
	Default debug bar styles.
*/
#debug-bar {
	background-color: var(--debug-back-color);
	border-left: 1px solid var(--debug-border-color);
	border-right: 1px solid var(--debug-border-color);
	bottom: 0;
	margin: 0;
	/* max-height: 75%; */
	/* max-width: 28em;
	min-width: 22em; */
	position: fixed;
	right: 0;
	top: 0;
	width: 33.33vw;
	z-index: 99900;
}
#debug-bar button {
	-webkit-touch-callout: none;
}

#debug-bar-tray {
	border-bottom: 1px solid var(--debug-border-color);
	padding: 0.5em;
	position: relative;
}
#debug-bar-tray > div:not(:first-of-type) {
	margin-top: 0.5em;
}
#debug-bar-tray > div > [id$="-label"] {
	margin-right: 0.5em;
}
#debug-bar-tray > div > input[type="text"] {
	min-width: 0;
	width: 8em;
}
#debug-bar-tray > div > select {
	width: 15em;
}

#debug-bar-toggle {
	color: var(--debug-color);
	background-color: var(--debug-back-color);
	border: 1px solid var(--debug-border-color);
	/* height: calc(100% + 1px); */
	height: 6em;
	left: calc(-2.225em - 1px);
	position: absolute;
	top: 0;
	width: 2.225em;
}
#debug-bar-toggle:hover {
	background-color: #333;
	border-color: var(--debug-color);
}

#debug-bar-hint {
	top: 0.1em;
	font-size: 4.5em;
	opacity: 0.33;
	pointer-events: none;
	position: fixed;
	right: 0.6em;
	user-select: none;
	white-space: nowrap;
}

#debug-bar-jump-play {
	/* float: right;
	margin-right: 0.1em; */
	margin-bottom: 0.2em;
	width: 2.05em;
}
#debug-bar-jump-play::before {
	/* Centering adjustment, since there's no text in button. */
	padding-left: 0.1em;
}

#debug-bar-code-label {
	margin-right: 0.5em;
}

#debug-bar-run-code {
	/* float: right;
	margin-right: 0.1em; */
	margin-bottom: 0.2em;
	width: 2.05em;
}
#debug-bar-run-code::before {
	/* Centering adjustment, since there's no text in button. */
	padding-left: 0.1em;
}
#debug-bar-code-box {
	min-width: calc(100% - 1em);
}

#debug-bar-watch {
	background-color: #222;
	/* border-left: 1px solid var(--debug-border-color); */
	border-bottom: 1px solid var(--debug-border-color);
	/* bottom: calc(100% + 1px); */
	font-size: 0.9em;
	/* left: -1px; */
	/* max-height: 65vh; */
	/* position: absolute; */
	overflow-x: hidden;
	overflow-y: scroll;
	/* right: 0; */
	z-index: 99800;
}
#debug-bar-watch[hidden] {
	display: none;
}
#debug-bar-watch div {
	color: #999;
	font-style: italic;
	margin: 1em auto;
	text-align: center;
}
#debug-bar-watch table {
	width: 100%;
}
#debug-bar-watch tr:nth-child(2n) {
	background-color: rgba(127, 127, 127, 0.15);
}
#debug-bar-watch td {
	padding: 0.2em 0;
}
#debug-bar-watch td:first-child + td {
	padding: 0.2em 0.3em 0.2em 0.1em;
}
#debug-bar-watch .watch-delete {
	background-color: transparent;
	border: none;
	color: #c00;
}
#debug-bar-watch-all,
#debug-bar-watch-none {
	margin-left: 0.5em;
}
#debug-bar-watch-toggle,
#debug-bar-views-toggle {
	color: var(--debug-color);
	background-color: transparent;
	border: 1px solid var(--debug-border-color);
	margin-right: 1em;
	padding: 0.4em;
}
#debug-bar-views-toggle:hover,
#debug-bar-watch-toggle:hover {
	background-color: #333;
	border-color: var(--debug-color);
}
html[data-debug~="views"] #debug-bar-views-toggle,
html[data-debug~="watch"] #debug-bar-watch-toggle {
	background-color: #282;
	border-color: #4a4;
}
html[data-debug~="views"] #debug-bar-views-toggle:hover,
html[data-debug~="watch"] #debug-bar-watch-toggle:hover {
	background-color: #4a4;
	border-color: #6c6;
}


/*
	Default font icon styles.
*/
#debug-bar-toggle::before,
#debug-bar-hint::after,
#debug-bar-jump-play::before,
#debug-bar-run-code::before,
#debug-bar-watch .watch-delete::before,
#debug-bar-watch-add::before,
#debug-bar-watch-all::before,
#debug-bar-watch-none::before,
#debug-bar-watch-toggle::after,
#debug-bar-views-toggle::after {
	@mixin sc-icons-properties;
}
#debug-bar-toggle::before {
	content: var(--icon-bug);
}
#debug-bar-hint::after {
	content: var(--icon-bug) "\202f" var(--icon-arrow-right);
}
#debug-bar-jump-play::before { /* stylelint-disable-line no-duplicate-selectors */
	content: var(--icon-arrow-right);
}
#debug-bar-run-code::before { /* stylelint-disable-line no-duplicate-selectors */
	content: var(--icon-play);
	padding-left: 0.2em; /* Centering adjustment. */
}
#debug-bar-watch .watch-delete::before {
	content: var(--icon-times);
}
#debug-bar-watch-add::before {
	content: var(--icon-plus);
}
#debug-bar-watch-all::before {
	content: var(--icon-magic);
}
#debug-bar-watch-none::before {
	content: var(--icon-trash);
}
#debug-bar-views-toggle::after,
#debug-bar-watch-toggle::after {
	content: var(--icon-toggle-off);
	margin-left: 0.5em;
}
html[data-debug~="views"] #debug-bar-views-toggle::after,
html[data-debug~="watch"] #debug-bar-watch-toggle::after {
	content: var(--icon-toggle-on);
}


/*
	Default debug view styles.
*/
html[data-debug~="views"] .debug {
	padding: 0.25em;
	background-color: #234; /* #541, #151 */
}
html[data-debug~="views"] .debug[title] {
	cursor: help;
}
html[data-debug~="views"] .debug.block {
	display: inline-block;
	vertical-align: middle;
}
html[data-debug~="views"] .debug.invalid {
	text-decoration: line-through;
}
html[data-debug~="views"] .debug.hidden,
html[data-debug~="views"] .debug.hidden .debug {
	background-color: #555;
}
html:not([data-debug~="view"]) .debug.hidden {
	display: none;
}

html[data-debug~="views"] .debug[data-name][data-type]::before,
html[data-debug~="views"] .debug[data-name][data-type].nonvoid::after {
	background-color: rgba(0, 0, 0, 0.25);
	font-family: var(--code-font-stack);
	white-space: pre;
}
html[data-debug~="views"] .debug[data-name][data-type]::before {
	content: attr(data-name);
}
html[data-debug~="views"] .debug[data-name][data-type|="macro"]::before {
	content: "<<" attr(data-name) ">>";
}
html[data-debug~="views"] .debug[data-name][data-type|="macro"].nonvoid::after {
	content: "<</" attr(data-name) ">>";
}
html[data-debug~="views"] .debug[data-name][data-type|="html"]::before {
	content: "<" attr(data-name) ">";
}
html[data-debug~="views"] .debug[data-name][data-type|="html"].nonvoid::after {
	content: "</" attr(data-name) ">";
}
html[data-debug~="views"] .debug[data-name][data-type]:not(:empty)::before {
	margin-right: 0.25em;
}
html[data-debug~="views"] .debug[data-name][data-type].nonvoid:not(:empty)::after {
	margin-left: 0.25em;
}
html[data-debug~="views"] .debug[data-name][data-type|="special"],
html[data-debug~="views"] .debug[data-name][data-type|="special"]::before {
	display: block;
}
