/***********************************************************************************************************************

	css/ui.css

	Copyright © 2013–2021 Thomas Michael Edwards <thomasmedwards@gmail.com>. All rights reserved.
	Use of this source code is governed by a BSD 2-clause "Simplified" License, which may be found in the LICENSE file.

***********************************************************************************************************************/

/*
	Default structural styles.
*/
/* Settings dialog styling. */
#ui-dialog-body.settings [id|="setting-body"] > div:first-child {
	display: table;
	width: 100%;
}
#ui-dialog-body.settings [id|="setting-label"] {
	display: table-cell;
	padding: 0.4em 2em 0.4em 0;
}
#ui-dialog-body.settings [id|="setting-label"] + div {
	display: table-cell;
	min-width: 8em;
	text-align: right;
	vertical-align: middle;
	white-space: nowrap;
}


/*
	Built-in dialog appearance styles.
*/
/* List-based dialog styling. */
#ui-dialog-body.list {
	padding: 0;
}
#ui-dialog-body.list ul {
	margin: 0;
	padding: 0;
	list-style: none;
	border: 1px solid transparent;
}
#ui-dialog-body.list li {
	margin: 0;
}
#ui-dialog-body.list li:not(:first-child) {
	border-top: 1px solid #444;
}
#ui-dialog-body.list li a {
	display: block;
	padding: 0.25em 0.75em;
	border: 1px solid transparent;
	color: #eee;
	text-decoration: none;
}
#ui-dialog-body.list li a:hover {
	background-color: #333;
	border-color: #eee;
}

/* Saves dialog styling. */
#ui-dialog-body.saves {
	/*
		NOTE: Older versions of Webkit/Blink need 1px bottom padding or they trigger
		the scrollbar for some odd reason.
	*/
	padding: 0 0 1px;
}
#ui-dialog-body.saves > *:not(:first-child) {
	border-top: 1px solid #444;
}
#ui-dialog-body.saves > h2 {
	background-color: #222;
	font-size: 100%;
	margin: 0;
	padding: 0.1em 0 0.1em 0.4em;
}
#ui-dialog-body.saves #saves-container {
	overflow-y: auto;
}
#ui-dialog-body.saves #saves-list {
	border-collapse: collapse;
	border-spacing: 0;
	display: table;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
}
#ui-dialog-body.saves #saves-list > li {
	display: table-row;
	margin: 0.33em 0;
}
#ui-dialog-body.saves #saves-list > li:not(:first-child) {
	border-top: 1px solid #444;
}
#ui-dialog-body.saves #saves-list > li > div {
	display: table-cell;
	padding: 0.33em;
}
#ui-dialog-body.saves #saves-list > li > div:not(.empty) {
	line-height: 1.2;
	vertical-align: top;
}
#ui-dialog-body.saves #saves-list > li > div.empty {
	color: #808080;
	speak: none;
	text-align: center;
	user-select: none;
}
#ui-dialog-body.saves #saves-list > li > div .details {
	font-size: 75%;
	margin-left: 1em;
}
#ui-dialog-body.saves #saves-list ul.buttons {
	display: table-cell;
	text-align: right;
	padding: 0.33em;
}
#ui-dialog-body.saves #saves-list button {
	color: #eee;
	background-color: transparent;
	border: 1px solid #444;
	width: 2.05em;
}
#ui-dialog-body.saves #saves-list button:disabled {
	color: #808080;
	border-color: #191919;
}
#ui-dialog-body.saves #saves-list button:not(:disabled):hover {
	background-color: #333;
	border-color: #eee;
}
#ui-dialog-body.saves #saves-list button.delete:not(:disabled),
#ui-dialog-body.saves button[id="saves-clear"]:not(:disabled) {
	background-color: #a22;
	border-color: #c44;
}
#ui-dialog-body.saves #saves-list button.delete:not(:disabled):hover,
#ui-dialog-body.saves button[id="saves-clear"]:not(:disabled):hover {
	background-color: #c44;
	border-color: #e66;
}
#ui-dialog-body.saves #saves-list button.load:not(:disabled) {
	background-color: #272;
	border-color: #494;
}
#ui-dialog-body.saves #saves-list button.load:not(:disabled):hover {
	background-color: #494;
	border-color: #6b6;
}
#ui-dialog-body.saves > ul.buttons {
	padding: 0.33em;
}
#ui-dialog-body.saves > ul.buttons.slots > li:last-child {
	/*
		NOTE: Using `position:absolute;right:0;` here can produce poor results,
		so we use `float:right` instead.
	*/
	float: right;

	/* Patch up bottom spacing since we're floating. */
	margin-bottom: 0.33em;
}

/* Settings dialog styling. */
#ui-dialog-body.settings div[id|="header-body"] {
	margin: 1em 0;
}
#ui-dialog-body.settings div[id|="header-body"]:first-child {
	margin-top: 0;
}
#ui-dialog-body.settings div[id|="header-body"]:not(:first-child) {
	border-top: 1px solid #444;
	padding-top: 1em;
}
#ui-dialog-body.settings div[id|="header-body"] > * {
	margin: 0;
}
#ui-dialog-body.settings h2[id|="header-heading"] {
	font-size: 1.375em;
}
#ui-dialog-body.settings p[id|="header-desc"],
#ui-dialog-body.settings p[id|="setting-desc"] {
	font-size: 87.5%;
	margin: 0 0 0 0.5em;
}
#ui-dialog-body.settings div[id|="setting-body"] + div[id|="setting-body"] {
	margin: 1em 0;
}
#ui-dialog-body.settings [id|="setting-control"] {
	white-space: nowrap;
}
#ui-dialog-body.settings button[id|="setting-control"] {
	color: #eee;
	background-color: transparent;
	border: 1px solid #444;
	padding: 0.4em;
}
#ui-dialog-body.settings button[id|="setting-control"]:hover {
	background-color: #333;
	border-color: #eee;
}
#ui-dialog-body.settings button[id|="setting-control"].enabled {
	background-color: #272;
	border-color: #494;
}
#ui-dialog-body.settings button[id|="setting-control"].enabled:hover {
	background-color: #494;
	border-color: #6b6;
}
#ui-dialog-body.settings input[type="range"][id|="setting-control"] {
	max-width: 35vw;
}

/* Stop text selection on certain UI elements. */
#ui-dialog-body.list a,
#ui-dialog-body.settings span[id|="setting-input"] {
	user-select: none;
}


/*
	Default font icon styles.
*/
#ui-dialog-body.saves button.delete:before,
#ui-dialog-body.saves button.load:before,
#ui-dialog-body.saves button.save:before,
#ui-dialog-body.saves button[id="saves-clear"]:before,
#ui-dialog-body.saves button[id="saves-disk-export"]:before,
#ui-dialog-body.saves button[id="saves-disk-import"]:before,
#ui-dialog-body.saves button[id="saves-disk-load"]:before,
#ui-dialog-body.saves button[id="saves-disk-save"]:before,
#ui-dialog-body.settings button[id|="setting-control"]:after,
#ui-dialog-body.settings button[id|="setting-control"].enabled:after {
	font-family: "tme-fa-icons";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	speak: none;
}
#ui-dialog-body.saves button:before {
	/* Centering adjustment, since there's no text in button. */
	padding-left: 0.1em;
}
#ui-dialog-body.saves button.delete:before {
	content: "\e827";
}
#ui-dialog-body.saves button.delete:disabled:before {
	content: "\e828";
}
#ui-dialog-body.saves button.load:before {
	content: "\e842";
}
#ui-dialog-body.saves button.save:before {
	content: "\e82b";
	padding-left: 0.05em; /* Centering adjustment override. */
}
#ui-dialog-body.saves button[id="saves-clear"]:before {
	content: "\e827\00a0";
}
#ui-dialog-body.saves button[id="saves-clear"]:disabled:before {
	content: "\e828\00a0";
}
#ui-dialog-body.saves button[id="saves-disk-export"]:before,
#ui-dialog-body.saves button[id="saves-disk-save"]:before {
		content: "\e829\00a0";
}
#ui-dialog-body.saves button[id="saves-disk-import"]:before,
#ui-dialog-body.saves button[id="saves-disk-load"]:before {
		content: "\e82a\00a0";
}
#ui-dialog-body.settings button[id|="setting-control"]:after {
	content: "\00a0\00a0\e830";
}
#ui-dialog-body.settings button[id|="setting-control"].enabled:after {
	content: "\00a0\00a0\e831";
}
